---
import Sections from "../Sections.astro";
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import HeroModerno from "../HeroModerno.astro";
import { sectionIds } from "../../i18n/ui";

import TradingViewWidget from "../react/TradingViewWidget";
import QuienesSomos from "../QuienesSomos.astro";
import AboutUs from "../AboutUs.astro";
import NuestroEquipo from "../NuestroEquipo.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="HOME">
  <HeroModerno
    title="A decentralized truth machine"
    subtitle="UMR's optimistic oracle (OO) can record any verifiable truth or data onto a blockchain."
    totalValueSecured={986000000}
  />
  <TradingViewWidget client:load />
  <main>
    <section class="about" id={sectionIds[lang].about}>
      <Sections
        _styles="padding-inline: var(--grid-gutter); padding-block: var(--espacio-l);"
      >
        {lang === "es" ? <QuienesSomos /> : <AboutUs />}
      </Sections>
    </section>
    <section class="planificar" id={sectionIds[lang].planning}>
      <Sections
        _styles="padding-inline: var(--grid-gutter); padding-block: var(--espacio-l);"
      >
        {lang === "es" ? <AboutUs /> : <QuienesSomos />}
      </Sections>
    </section>
    <section class="nuestro-equipo" id={sectionIds[lang].team}>
      <Sections
        _styles="padding-inline: var(--grid-gutter); padding-block: var(--espacio-l);"
      >
        <NuestroEquipo />
      </Sections>
    </section>
  </main>
</Layout>
