---
import SectionAbout from "../SectionAbout.astro";
import Sections from "../Sections.astro";
import VideoComponent from "../VideoComponent.astro";
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import ImageHero from "../ImageHero.astro";
import SectionPlanificar from "../SectionPlanificar.astro";
import TuMejorOpcion from "../TuMejorOpcion.astro";
import TradingViewWidget from "../react/TradingViewWidget";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="HOME">
  <ImageHero
    urlImgHero="https://res.cloudinary.com/dvuyt52aq/image/upload/t_Banner 16:9/v1741489469/hero_cobten.png"
    overlayType="gradient"
    overlayOpacity={0.7}
  />
  <TradingViewWidget client:load />
  <section class="about">
    <Sections
      _styles="padding-inline: var(--grid-gutter); padding-block: var(--espacio-3xl);"
    >
      <SectionAbout />
    </Sections>
  </section>
  <section class="planificar">
    <Sections
      _styles="padding-inline: var(--grid-gutter); padding-block: var(--espacio-3xl);"
    >
      <SectionPlanificar />
    </Sections>
  </section>
  <section class="about">
    <Sections
      _styles="padding-inline: var(--grid-gutter); padding-block: var(--espacio-3xl);"
    >
      <TuMejorOpcion />
    </Sections>
  </section>
</Layout>

<style>
  .planificar {
    background: url("../../assets/bg-section.png") no-repeat center center /
      cover;
  }
</style>
