---
import Sections from "../Sections.astro";
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import HeroModerno from "../HeroModerno.astro";
import { sectionIds } from "../../i18n/ui";

import TradingViewWidget from "../react/TradingViewWidget";
import AboutUs from "../AboutUs.astro";
import NuestroEquipo from "../NuestroEquipo.astro";
import { getI18N } from "../../i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const i18n = getI18N({ currentLocale: lang });
---

<Layout title="HOME">
  <HeroModerno
    title={i18n.HERO_SMALL}
    subtitle={i18n.HERO_H2}
    totalValueSecured={986000000}
  />
  <TradingViewWidget client:load />
  <main>
    <section class="about" id={sectionIds[lang].about}>
      <Sections
        _styles="padding-inline: var(--grid-gutter); padding-block: var(--espacio-l);"
      >
        <AboutUs />
      </Sections>
    </section>
    <section class="nuestro-equipo" id={sectionIds[lang].team}>
      <Sections
        _styles="padding-inline: var(--grid-gutter); padding-block: var(--espacio-l);"
      >
        <NuestroEquipo />
      </Sections>
    </section>
  </main>
</Layout>
