---
import SectionAbout from "../SectionAbout.astro";
import Sections from "../Sections.astro";
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import HeroModerno from "../HeroModerno.astro";
import SectionPlanificar from "../SectionPlanificar.astro";
import TuMejorOpcion from "../TuMejorOpcion.astro";
import TradingViewWidget from "../react/TradingViewWidget";
import QuienesSomos from "../QuienesSomos.astro";
import AboutUs from "../AboutUs.astro";
import { AnimatedTestimonialsDemo } from "../ui/dataEquipoNexus";
import NuestroEquipo from "../NuestroEquipo.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="HOME">
  <HeroModerno
    title="A decentralized truth machine"
    subtitle="UMR's optimistic oracle (OO) can record any verifiable truth or data onto a blockchain."
    totalValueSecured={986000000}
  />
  <TradingViewWidget client:load />
  <section class="about">
    <Sections
      _styles="padding-inline: var(--grid-gutter); padding-block: var(--espacio-3xl);"
    >
      <QuienesSomos />
    </Sections>
  </section>
  <section class="planificar">
    <Sections
      _styles="padding-inline: var(--grid-gutter); padding-block: var(--espacio-l);"
    >
      <AboutUs />
    </Sections>
  </section>
  <section class="planificar">
    <Sections
      _styles="padding-inline: var(--grid-gutter); padding-block: var(--espacio-l);"
    >
      <NuestroEquipo />
    </Sections>
  </section>
</Layout>
