---
import "../../styles/global.css";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { getI18N } from "../../i18n";
import Layout from "../../layouts/Layout.astro";
import HeroModerno from "../HeroModerno.astro";
import RealState from "../ui/ServicesShowcaseRight.astro";
import { ComoInvertimos } from "../blocks/ComoInvertimos";
import FinancialMarkets from "../ui/FinancialMarkets.astro";
import LargeCapAssets from "../ui/LargeCapAssets.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const currentLang = getLangFromUrl(Astro.url);
const i18n = getI18N({ currentLocale: currentLang });
---

<Layout
  title={lang === "en" ? "Our Services - Nexus" : "Nuestros Servicios - Nexus"}
>
  <HeroModerno
    title={i18n.OUR_SERVICES.TITLE}
    subtitle={i18n.OUR_SERVICES.DESCRIPTION}
  />
  <main>
    <!-- <section
      class="lg:w-[50%] mx-auto text-center titulo mt-[var(--espacio-xl)] lg:mt-[var(--espacio-3xl)] px-3 pb-[var(--espacio-l)]"
    >
      <h1
        class="text-2xl md:text-3xl font-bold mb-md text-[var(--color-gris)] leading-none"
      >
        Soluciones estratégicas para un crecimiento financiero seguro.
      </h1>
      <p class="text-base text-muted-foreground">
        En Nexus Private Capital, ofrecemos modelos de inversión diversificados
        y optimizados, diseñados para maximizar la rentabilidad y reducir
        riesgos. Nos enfocamos en tres áreas clave de inversión:
      </p>
    </section> -->
    <section
      class="services-showcase"
      id={lang === "en" ? "our-services" : "nuestros-servicios"}
    >
      <FinancialMarkets />
    </section>
    <section
      class="services-showcase"
      id={lang === "en" ? "our-services" : "nuestros-servicios"}
    >
      <RealState />
    </section>
    <section
      class="services-showcase"
      id={lang === "en" ? "our-services" : "nuestros-servicios"}
    >
      <LargeCapAssets />
    </section>
    <section
      class="services-showcase"
      id={lang === "en" ? "our-services" : "nuestros-servicios"}
    >
      <ComoInvertimos client:only="react" />
    </section>
  </main>
</Layout>
