---
import LayoutNavOscuro from "../layouts/Layout-nav-oscuro.astro";
import BlogSingle from "../components/BlogSingle.astro";
---

<LayoutNavOscuro title="Blog | Nexus Private Capital">
  <main>
    <BlogSingle />
  </main>
</LayoutNavOscuro>
