---
import LayoutNavOscuro from "../layouts/Layout-nav-oscuro.astro";
import { LanguageCodeEnum } from "../lib/graphql";
import { BlogPostsLoader } from "../components/react/BlogPostsLoader";
---

<LayoutNavOscuro title="Blog | Nexus Private Capital">
  <main>
    <BlogPostsLoader client:load language={LanguageCodeEnum.EN} postCount={9} />
  </main>
</LayoutNavOscuro>
