---
import LayoutNavOscuro from "../layouts/Layout-nav-oscuro.astro";
import { fetchPosts, LanguageCodeEnum } from "../lib/graphql";
import { BlogPosts } from "../components/ui/BlogPosts";

// Obtener los posts en inglés desde WordPress
const posts = await fetchPosts(LanguageCodeEnum.EN);
---

<LayoutNavOscuro title="Blog | Nexus Private Capital">
  <main>
    <BlogPosts posts={posts} isLoading={false} error={null} client:load />
  </main>
</LayoutNavOscuro>
