---
import Layout from "../layouts/Layout.astro";
import AppContacto from "../components/pages/AppContacto";
---

<Layout title="Contact | Nexus Private Capital">
  <main>
    <AppContacto client:load />
  </main>
</Layout>
