---
import AppContacto from "../components/pages/AppContacto";
import LayoutNavOscuro from "../layouts/Layout-nav-oscuro.astro";
---

<LayoutNavOscuro title="Contact | Nexus Private Capital">
  <main>
    <AppContacto client:load />
  </main>
</LayoutNavOscuro>
