---
import AppContacto from "../components/pages/AppContacto";
import LayoutNavOscuro from "../layouts/Layout-nav-oscuro.astro";
import { getI18N } from "../i18n";
import spanish from "../i18n/locales/es.json";

// Usamos directamente el objeto de traducción en español
const i18n = spanish;
---

<LayoutNavOscuro title="Contacto | Nexus Private Capital">
  <main>
    <AppContacto i18n={i18n} client:load />
  </main>
</LayoutNavOscuro>
