---
import { ComoInvertimos } from "../components/blocks/ComoInvertimos";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Feature108 Demo">
  <main>
    <ComoInvertimos client:only="react" />
  </main>
</Layout>
