---
/**
 * @page test-testimonios
 * @description Página de prueba para el componente TestimoniosAnimados
 * @author Cascade
 */
import { AnimatedTestimonialsDemo } from "../components/ui/dataEquipoNexus";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Test Testimonios Animados">
  <main class="min-h-screen" style="background-color: var(--color-fondo);">
    <AnimatedTestimonialsDemo client:only="react" />
  </main>
</Layout>

<style>
  main {
    background-color: var(--color-fondo);
  }
</style>
