---
/**
 * @component NuestroEquipo
 * @description Componente que muestra testimonios animados de clientes
 * @author Cascade
 */
import { AnimatedTestimonialsData } from "./ui/dataEquipoNexus";
---

<div class="max-w-3xl mx-auto text-center titulo">
  <h1 class="text-2xl md:text-3xl font-bold mb-md text-[var(--color-gris)]">
    Nuestro Equipo
  </h1>
  <p class="text-base text-muted-foreground">
    Liderazgo con Visión Estratégica
  </p>
</div>

<!-- Componente real que se cargará con React -->
<div id="testimonios-container">
  <AnimatedTestimonialsData client:only="react" />
</div>
